EEG_RX_DATA_DIR=
EEG_RX_OUT_DIR=
EEG_RX_SEED=
EEG_RX_SFREQ=
EEG_RX_EPOCH_SECONDS=
EEG_RX_L_FREQ=
EEG_RX_H_FREQ=
EEG_RX_REJECT_UV=
EEG_RX_FEATURES=
EEG_RX_CLASSIFIER=
EEG_RX_SELECTOR=
EEG_RX_OUTER_FOLDS=
EEG_RX_INNER_FOLDS=
EEG_RX_PERMUTATIONS=
